[2016-02-02 19:26] yliam opened #4 "palloc address error"
Hello,

I get a palloc address error when attempting to execute selfie.m by mipster. See transcript below:

~/selfie
$ gcc selfie.c -o selfie

~/selfie
$ ./selfie -c selfie.c -o selfie.m
./selfie: this is selfie's cstarc compiling selfie.c
./selfie: writing code into output file selfie.m

~/selfie
$ ./selfie -l selfie.m -m 1
./selfie: loading code from input file selfie.m
./selfie: this is selfie'

[2016-02-03 17:04] ckirsch commented on #4
Hi yliam,

selfie needs to be compiled into a 32-bit executable. I suspect that you are on a 64-bit system and have therefore generated a 64-bit binary. Let me know if this is the case.

Please try instead:

gcc -w -m32 -D'main(a, b)=main(int argc, char **argv)' selfie.c -o selfie

to compile selfie and then see if this solves the problem.

I just updated the README.md file with improved build ins

[2016-02-04 06:32] yliam commented on #4
Hello again Professor Kirsch,

I'm sorry to say I had the same results after compiling with:

gcc -w -m32 -D'main(a, b)=main(int argc, char **argv)' selfie.c -o selfie

I am using Debian GNU/Linux 7 debian-i386 (wheezy) on a 32 bit system.

Incidentally, I am able to successfully execute selfie.m by mipster using the version released on November 16, 2015.  The changes made during the implementatio

[2016-02-04 18:29] ckirsch commented on #4
Hi yliam,

no worries, I very much appreciate your feedback.

The problem is likely due to your system returning addresses through malloc that are negative numbers in 32-bit two's complement representation. Up until now, I had not implemented support of that in selfie. I have now taken the opportunity to do that but cannot test it. Would you be so kind, pull the new version, and try it?

Many than

[2016-02-04 20:56] yliam commented on #4
Hi again Professor Kirsch,

Per your request I just pulled cksystemsteaching-selfie-0b1a3a5 and tried it again on both Debian GNU/Linux 7 debian-i386 (wheezy) and Cygwin32, but I got a segmentation fault this time on both platforms.  Please see transcript below:

~/selfie
$ gcc -w -m32 -D'main(a, b)=main(int argc, char **argv)' selfie.c -o selfie

~/selfie
$ ./selfie -c selfie.c -o selfie.m
./self

[2016-02-05 00:48] ckirsch commented on #4
Hi yliam,

thank you for your feedback. I ran a few tests with negative addresses but cannot reproduce the problem.

Could you please set the flags:

debug_exception
debug_map

both to 1, then compile and run, and send me the output?

Thanks!

Best,
-ck

[2016-02-05 06:20] yliam commented on #4
Hi again,

I'm happy to be of assistance in any way I can.  Per your request, I set the debug_exception and debug_map flags per your request, and this is what I got running the same commands:

~/selfie
$ gcc -w -m32 -D'main(a, b)=main(int argc, char **argv)' selfie.c -o selfie

~/selfie
$ ./selfie -c selfie.c -o selfie.m
./selfie: this is selfie's cstarc compiling selfie.c
./selfie: writing code i

[2016-02-05 10:08] oblassersi commented on #4
Hi,

I have tried the same way of executing selfie, but on a 32 bit Peppermint Six (Ubuntu 14.04) system, and I got the exact same error (segmentation fault) and debugging output as described above with the latest version. I also tried to use different execution sizes for selfie, not just 1 MB, but it didn't make any difference.

I have also checked out the version of Feb 3, which led to the pallo

[2016-02-05 10:54] barthelch commented on #4
Hello everybody!
I tested it on Debian 8/i386 with gcc 4.9 and had the same issues.
It seems to work on OS X El Capitan with the clang compiler.  It also
works on Debian 8/i386 with the clang compiler (for me).  As far as I
know, cygwin is using a gcc version.  So, there may be some differences
between gcc and clang but I am not sure.

Tests:
  FreeBSD 10.2 x86 / clang: works.
  OpenBSD 5.7 i386 /

[2016-02-05 18:42] ckirsch commented on #4
Thanks a lot, everyone, for your help!

I suspect this is a silent integer overflow problem but I am not sure. One candidate is the address computation in tlb(). I have added additional parenthesis to enforce the right order of evaluation and instrumented that with debugging code. Please pull the new version, enable debug_exception, debug_map, and debug_tlb, and rerun. There may be a lot of output

[2016-02-05 19:38] yliam commented on #4
Greetings Professor Kirsch,

Here's my output from b977211 with debug_exception, debug_map, and debug_tlb enabled.

Thanks,
yliam
[yliam_dbg.txt](https://github.com/cksystemsteaching/selfie/files/119727/yliam_dbg.txt)

[2016-02-05 22:19] ckirsch commented on #4
Thanks, yliam.

I just pushed another version with simplified page frame handling.

Can anyone try please?

-ck

[2016-02-06 00:13] yliam commented on #4
You're welcome.

I just re-ran using release 4d73ecf with debug_exception, debug_map, and debug_tlb enabled and got the exact same output as I did using  b977211.  Since the two log files were identical, I'm not re-attaching the file again.

-yliam

[2016-02-06 19:28] ckirsch commented on #4
Everyone,

I finally installed my own copy of a 32-bit Ubuntu Linux system and fixed the bug.

In hindsight, Christian's gdb message had all the information needed. In particular, the bug had nothing to do with my new memory management. It is rather due to differences in how compilers treat assignments. Some seem to evaluate lvalues before rvalues which in our case here lead to dereferencing a nul

[2016-02-07 18:36] yliam commented on #4
Excellent!

Now it works again for me with GCC under both Linux and Cygwin.

Thanks for your help.

yliam

[2016-02-07 20:01] ckirsch commented on #4
I am glad to hear that.

Thanks a lot for your help!

-ck

[2016-02-07 20:01] #4 closed

[2016-05-26 16:33] yliam opened #8 "Segmentation fault in function storePhysicalMemory"
Greetings Again Sir,

I realize your development platform and therefore main operating focus for Selfie is Linux.  As you will recall from our previous correspondence in February, I have successfully run Selfie in Cygwin.  However, I have also compiled selfie natively on Windows with MinGW.  I only had to change the following six lines by looking up and changing open() oflag values to reflect thos

[2016-05-27 05:24] ckirsch commented on #8
Selfie allocates memory for the emulator in 4KB chunks using malloc. There may be something wrong with that in particular if the returned address is a negative integer. You will need to track those malloc calls and see if memory access matches the blocks returned by malloc.

[2016-05-27 06:34] ckirsch commented on #8
Also, make sure the binary is 32-bit.

[2016-08-15 08:19] ckirsch commented on #8
yliam, have you been able to resolve the problem? I would like to close the issue. Thanks!

[2016-08-18 00:19] yliam commented on #8
Hello again Sir,

I was unsuccessful in resolving the segmentation fault issue I reported to you in May. I don't think I have enough knowledge of Selfie's internal architecture at this point (and programming skill) to find and kill the bug.

I brought the issue to your attention in hopes that, seeing how you engineered an wrote Selfie in an inherently portable manner, you might know of a simple fi

[2016-08-18 21:17] Blazefrost commented on #8
I could reproduce the segfault on a VM with MSYS2/GCC 6.1.0 and revision 2f93229c.

***
(gdb) backtrace
#0  0x0040a810 in storePhysicalMemory (paddr=0xbaadf00d, data=604504071)
    at selfie.c:5150
#1  0x0040aa67 in storeVirtualMemory (table=0xb0ba60, vaddr=0, data=604504071)
    at selfie.c:5222
#2  0x0040aac6 in mapAndStoreVirtualMemory (table=0xb0ba60, vaddr=0,
    data=604504071) at selfie.c:5

[2016-08-19 09:29] ckirsch commented on #8
Impressive! Nice work!

@Blazefrost, zeroing all registers as well is perfectly fine. I remember that I thought about doing that a long time ago but then forgot. Could you please do a pull request on the master branch?

@yliam, thanks a lot for encouraging us to look into this. As soon as I have the pull request, I will integrate it into the master branch for you to try on your system.

[2016-08-19 09:34] ckirsch commented on #8
@yliam, let me also thank you for your kind words on selfie and the manuscript. It is nice to hear that people are interested in this project! Finishing the manuscript will take more time but we are actively working on it, also on the code, experimenting with RISC-V, 64-bit, and multicore support.

[2016-08-19 16:15] Blazefrost commented on #8
Done! It's pull request #9.

[2016-08-20 10:40] ckirsch commented on #8
Thanks!

I just pulled this in and then polished the code a bit.

@yliam, can you try the code on your machine?

[2016-08-20 16:51] yliam commented on #8
Well, that DID fix the segmentation fault in function storePhysicalMemory.

However, now that code the execution gets past the point of the original (now fixed) segmentation fault, I'm getting another segmentation fault in function loadPhysicalMemory.

The new segmentation fault occurs on the 19th call into loadPhysicalMemory. The top of the call stack shows loadPhysicalMemory(paddr=0x300) when th

[2016-08-30 10:11] ckirsch commented on #8
Interesting.

@yliam: could you please post the whole console output?

@Blazefrost: could you please try to reproduce that error? Try my latest version as well as your fix.

Thanks!

[2016-08-30 22:28] yliam commented on #8
I'm not sure if this is what you're looking for, but here's the session log.

[console.txt](https://github.com/cksystemsteaching/selfie/files/446035/console.txt)

[2016-08-31 06:42] ckirsch commented on #8
Thanks, @yliam

I'd need the command and its output that leads to the new seg fault.

[2016-08-31 07:25] yliam commented on #8
The command issued in windows is:
.\selfie.exe -l .\selfie.m -m 1

The output leading to the new seg fault is:
C:\selfie\selfie.exe: 14556 bytes with 29970 instructions and -105324 bytes of data loaded from .\selfie.m
C:\selfie\selfie.exe: this is selfie's mipster executing .\selfie.m with 1MB of memory

Then the seg fault occurs.
-105324 bytes of data loaded?  Looks suspicious to me...

[2016-08-31 08:11] ckirsch commented on #8
Looks like selfie.m is either corrupted or the file is ok but incorrectly loaded. Can you post the file here?

[2016-08-31 13:53] yliam commented on #8
Here's the modified selfie.c (from commit 89b1833) I am using with the Windows filesystem mods from the initial post for this issue (the 6 changed lines are on slightly different line numbers due to changes to selfie.c c since May.

Also included is the self-generated selfie.m:

[selfie.zip](https://github.com/cksystemsteaching/selfie/files/447363/selfie.zip)

[2016-08-31 13:57] yliam commented on #8
Also, I'm sorry that I accidentally hit the close issue button.

I immediately reopened it.

[2016-08-31 14:59] ckirsch commented on #8
That's ok, no worries.

Could you please run:

./selfie -c selfie.c -s selfie.s -o selfie.m

and send me selfie.s and selfie.m?

Please erase both selfie.s and selfie.m before doing so.

[2016-08-31 15:21] Blazefrost commented on #8
Indeed, there is a issue with both reading and writing binaries due to Windows' strange way of handling files. On POSIX systems, the data you write goes into the file, whereas on Windows there  are two file modes. In text mode, the default option, Windows does weird things like handling CRLF or reporting EOF when encountering 0x1A (Ctrl-Z). In binary mode, Windows treats files similar to POSIX (Se

[2016-08-31 17:07] ckirsch commented on #8
Nice!

Is the only difference between Windows and Unix then S_IRUSR_IWUSR_IRGRP_IROTH versus S_IREAD_IWRITE? Can we have the _O_BINARY set in O_CREAT_WRONLY_TRUNC and O_RDONLY even on Unix?

I am asking because I would like to identify the minimal difference in selfie between Windows and Unix.

Thanks!

[2016-08-31 22:03] Blazefrost commented on #8
Unfortunately not. Not only S_IREAD_IWRITE/S_IRUSR_IWUSR_IRGRP_IROTH differ but also the open() flags, e.g. O_CREAT is 0x0100 on Windows, but 0x0040 on UNIX.
Concerning _O_BINARY, I don't think this would be possible either, as there seems to be no O_BINARY flag in the POSIX specs (http://pubs.opengroup.org/onlinepubs/9699919799/functions/open.html) and  `/usr/include/bits/fcntl-linux.h`.

[2016-09-01 00:16] yliam commented on #8
@Blazefrost: Excellent!  Thanks for the clarification!  Once I set the binary mode flag (0x8000) for Windows, the segmentation fault went away and selfie now runs to completion!

@ckirsch: I'm noticing a very slight difference between the selfie1.m and selfie2.m files generated during self-compilation using the Windows equivalent of the Linux command:

./selfie -c selfie.c -o selfie1.m -m 2 -c sel

[2016-09-01 06:07] ckirsch commented on #8
Great!

@yliam: please generate assembly files as well to see if there is a difference:

.\selfie.exe -c .\selfie.c -o .\selfie1.m -s selfie1.s -m 2 -c .\selfie.c -o .\selfie2.m -s selfie2.s

@Blazefrost: I will eventually need a pull request with your fix. Could you please do that in such a way that going from the Unix to the Windows version is a simple matter of changing a few comments? But for

[2016-09-02 05:09] yliam commented on #8
Hello again all,

I took selfie.c from commit b2b6fa3 and implemented the changes outlined by Blazefrost.

After running the following:
.\selfie.exe -c .\selfie.c -o .\selfie1.m -s .\selfie1.s -m 2 -c .\selfie.c -o .\selfie2.m -s .\selfie2.s

I got the following results (file includes modified selfie.c):
[results.zip](https://github.com/cksystemsteaching/selfie/files/451199/results.zip)

There are

[2016-09-02 05:40] yliam commented on #8
Function implementOpen() also contains the following call:

    fd = open(filename_buffer, flags, mode);

Does this need to be addressed as well?

[2016-09-02 09:00] ckirsch commented on #8
Thanks, @yliam!

No, this:

`fd = open(filename_buffer, flags, mode);`

is fine and the way you applied @Blazefrost's patch is also fine.

After comparing the binary and assembly files that you sent us I found the issues in the code leading to the slight differences in both binary and assembly files. They were again related to non-zeroed memory. Please update to the latest version and try again.

[2016-09-02 09:55] ckirsch commented on #8
By the way, is anyone willing to find flags that work on all systems? I ran selfie with the flags for Windows on my Mac and it worked...The only difference is that files created by selfie get rw------- rather than rw-r--r-- permissions which is at least not problematic. I would anyway prefer to have a solution that is based on proper reasoning.

[2016-09-02 16:29] yliam commented on #8
Thanks Professor Kirsch!

After applying @Blazefrost's patch to your most recent bug fix in commit 2067b46, selfie is now working perfectly for me natively on Windows. Cygwin is no longer required!

Here's the modified source file I used (rename it to selfie.c before use):
[selfie_c.txt](https://github.com/cksystemsteaching/selfie/files/452494/selfie_c.txt)

First, I compiled it with:
gcc .\selfie

[2016-09-02 18:23] Blazefrost commented on #8
I've digged through MinGW's <sys/stat.h> and found out that all permission flags are present in it, too. Luckily, the values of the flags match with POSIX's specs, so S_IRUSR_IWUSR_IRGRP_IROTH doesn't need to be changed after all :wink:. I've changed the patch above accordingly.
The other four lines are inevitable, though. A pull request is on its way soon...

[2016-09-02 21:27] yliam commented on #8
Does anybody know what is affected if you try to set the Windows specific _O_BINARY oflag (0x8000) bit on POSIX systems in general?

[2016-09-03 09:50] ckirsch commented on #8
Thank you, @Blazefrost!

I pulled this in but now made the Windows flags default. Let's see if travis fails or not. It does work on my Mac. I also found a mistake in the Unix flags...but things worked anyway.

[2016-09-03 09:51] ckirsch commented on #8
@yliam, it does seem that _O_BINARY is ignored on Unix systems...

[2016-09-03 10:35] ckirsch commented on #8
Ok, the Linux build with the WINDOWS flags fails. So, I went back to the LINUX/MAC configuration as default.

However, I am not yet giving up on finding a one-configuration-fits-all setting.

@Blazefrost, you seem to have access to both Linux and Windows machines, right? I am wondering what happens on Windows when we use a combination of all flags, that is, 34561 or 0x8701.

But more systematicall

[2016-09-03 10:37] ckirsch commented on #8
By the way, this has to work independently of the to-be-opened file already existing or not.

[2016-09-03 10:44] ckirsch commented on #8
If that doesn't work you may rely on the variable `selfieName` which contains the name of the binary file currently executing and therefore must exist. You could open that file but never write to it. But I would try to avoid this approach if possible.

[2016-09-03 14:01] ckirsch commented on #8
I continued experimenting a bit more. The latest version works again on Linux and Mac but probably not on Windows. Can anyone check?

[2016-09-03 15:22] yliam commented on #8
Per your request, I tried 628b1e8. It compiled fine with MinGW, but gave me the following error:

selfie.exe: could not create binary output file .\selfie1.m

At this point, it looks like either the POSIX configuration or the Windows configuration can work by default, but not both!

[2016-09-04 07:35] ckirsch commented on #8
Too bad. I am now experimenting with something new but I have difficulties finding the correct flags for Linux in fact. Turns out that our original flag value 577 worked for Linux and Mac but only by accident somehow. Does anyone know why 4353 does not work on Linux?

[2016-09-04 08:34] ckirsch commented on #8
Ok, I figured the Linux flags out: 577 is indeed correct.

I did that by running a test program checked into a new branch called flags.

Can someone please check this out and try to get `make test` to run on a Windows machine?

In the meantime I checked in selfie in the master branch that may in fact work on all platforms now, please try as well.

Thanks!

[2016-09-05 00:37] yliam commented on #8
Windows PowerShell is the preferred command shell in Windows. I got make to run with the selfie Makefile in PowerShell after making only a few changes to the Makefile:

1 - CFLAGS variable: MinGW doesn't like the define "-D'main(a,b)=main(a,char**argv)'", so it was removed.

2 - selfie target: "$(CC)" doesn't resolve correctly, so it was hard coded to "gcc" instead.

3a - test target: Built-in Win

[2016-09-06 17:38] yliam commented on #8
Additionally, I compiled test.c and windows.c from the new flags branch using MinGW on Windows and ran each of them in PowerShell on Windows.  Here are the results:

PS C:\selfie-flags> .\test
100, 200, 1, 301

PS C:\selfie-flags> .\windows
8000, 100, 200, 1, 8301

[2016-09-06 19:09] ckirsch commented on #8
@yliam: thanks a lot! This confirms the flag settings we have in selfie.c now. Very nice.

I am not sure yet if we can support your MinGW version of the Makefile but we will definitely keep the Windows support in selfie.c

As soon as I get to it I will work on the readme.md file for selfie to reflect Windows support.

[2016-09-09 14:12] ckirsch commented on #8
I cleaned up the code and updated the Readme file.

I also finished the in-memory linker and pulled it into the master branch. Yes, we now have a linker.

I also removed the linker and flags branches.

@yliam: I believe the original issue is solved. Could you please close the issue?

Many thanks, everyone, for your help!

[2016-09-09 15:03] yliam commented on #8
Yes, the original issue has been successfully resolved!

Thank you @ckirsch, @Blazefrost, and anyone else who contributed in figuring out what was causing the problem.

Now we all have a fine cross-platform version of selfie to use as a result!

Thanks again,
-yliam

[2016-09-09 15:03] #8 closed

[2017-03-16 00:22] HugoPlatzer opened #16 "atoi() unreliable overflow handling"
# Description of problem
the atoi() function does not always fail when an integer literal representing a number larger than 2^31 is processed.

# Example

`int main() {
    int a;
    a = 9999999999;
    return 0;
}`

compiles successfully while

`int main() {
    int a;
    a = 2222222222;
    return 0;
}`

doesn't.

# Cause

Multiplying , for example, 999999999 with 10 , as done at the end of th

[2017-03-16 07:34] ckirsch commented on #16
@HugoPlatzer Interesting! Can you do this in a way that `atoi` never produces an integer overflow, even when scanning INT-MIN? I'd like to remove all overflows from the code and this is a good opportunity. Feel free to fork `selfie` publicly and do your PR from there.

[2017-03-28 15:54] HugoPlatzer opened #22 "Binary length overflow in emitGlobalsStrings()"
# Description of problem

Some larger C* programs cause selfie to segfault when compiling them. The issue was discovered when I tried to test all four shift instructions in `emitLeftShiftBy()`, after which `./selfie -c selfie.c` segfaulted sometimes.

# Example

A testcase generator and testcase C* file causing a segfault when compiled by selfie (5000 strings) can be found here:  [Gist](https://gi

[2017-04-08 16:30] #22 closed

[2017-08-03 09:37] ckirsch commented on #16
@HugoPlatzer I just saw this again. Very nice! Without remembering your solution I came up with the same yesterday, see https://github.com/cksystemsteaching/selfie/pull/28

[2017-08-03 09:37] #16 closed

[2017-09-01 18:33] nubok opened #29 "Compiling under Windows?"
In README.md one can read:

On the other hand only instructions for compiling (and running) Selfie under UNIX-like operating systems are given. So what is the designated way to compile Selfie under Windows using Visual C++ using either cmd.exe (e.g. via "x86 Native Tools Command Prompt"; though Microsoft considers this terminal as deprecated) or PowerShell?

[2017-09-01 19:55] ChristianMoesl commented on #29
On Windows we usually use a Linix environment like msys2 and gcc or clang as compiler. For the Visual C++ compiler and PowerShell, you need to install make and modify the [Makefile](https://github.com/cksystemsteaching/selfie/blob/master/Makefile) to match the [available compiler options](https://msdn.microsoft.com/en-us/library/fwkeyyhe.aspx).

[2017-09-01 21:24] nubok commented on #29
So I will work on writing a Makefile for Windows that can be used with nmake.

[2017-09-02 06:16] ckirsch opened #30 "Overflows in profiler"
The profiler overflows for the following (long-running) invocation:

[code]

Notice the missing `loops` and `loads` lines at the very end as well as the meaningless percentage numbers in the `calls` line.

[2017-09-02 23:36] nubok commented on #29
As promised I created a pull request that might not be perfect, but at least allows selfie to compile using Visual Studio 2017/nmake: https://github.com/cksystemsteaching/selfie/pull/31

Note that one (two?) of the tests currently fail under this configuration. I am not in the position to be able to find the reason for this test failure.

[2017-09-03 09:48] ChristianMoesl commented on #29
Great! I'm working on this Problem already. It has something to do with the hypster starting on boot level zero.

If your are interested in it, PR #32  fixes this bug on Windows ([commit](https://github.com/cksystemsteaching/selfie/pull/32/commits/93e93305a26341af8f3c9191a7b7826f73f1f06e)).

[2017-09-03 13:12] nubok commented on #29
For testing I merged the ChristianMoesl:vpage-size branch with my Makefile.win changes. To make this result reproducable I created a new patch "vpage_win" for this experiment and uploaded it:

The results are "interesting":

`> selfie.exe -c selfie.c -o selfie3.m -s selfie3.s -y 3 -l selfie3.m -y 2 -l selfie3.m -y 2 -c selfie.c -o selfie4.m -s selfie4.s`

now works:

[code]

But on the other hand

[2017-09-03 13:18] ChristianMoesl commented on #29
I changed the Makefile in my PR! The command should look like
 `./selfie -c selfie.c -o selfie5.m -s selfie5.s -min 8 -l selfie5.m -y 2 -l selfie5.m -y 2 -c selfie.c -o selfie6.m -s selfie6.s`
This is needed because the page table size in selfie increased dramatically.

[2017-09-03 14:03] nubok commented on #29
I tried it out: This change indeed fixes the problem.  In other words: After this patch `nmake -f Makefile.win all` ran all through without any abnormalities visible to me. So I merged this into "my" vpage-win branch:

[2017-09-24 18:20] ChristianMoesl opened #39 "Pagesize not configurable"
I tried to change to `PAGESIZE` to `1024` and tested selfie. But if i execute this:

it fails in `restoreContext()` (line 6598) with an segmentation fault. As far as i understood it, virtual memory isn't correctly mapped at this time.

[2017-10-04 16:33] ChristianMoesl commented on #39
Closing, because i fixed this issue in [https://github.com/cksystemsteaching/selfie/commit/e0d24df2438a23c2280d085279dad6bcc2bcd22d](e0d24df).

[2017-10-04 16:33] #39 closed

[2017-10-15 07:54] cponcelets opened #41 "encoding glitch"
In selfie/manuscript/semantics.md.
The symbol -- appears like â€”. However, it is not a markdown error.

[Disassembler](https://en.wikipedia.org/wiki/Disassembler)
: A computer program that translates machine language into assembly language -- the inverse operation to that of an assembler.

[2017-10-15 08:14] cponcelets commented on #41
Idem in selfie/manuscript/state.md.

A programming paradigm â€” a style of building the structure and elements of computer programs â€” that expresses the logic of a computation without describing its control flow.

[2017-10-15 19:18] ckirsch commented on #41
Thanks, @cponcelets I just fixed this.

[2017-10-15 19:18] #41 closed

[2017-10-30 23:42] ChristianMoesl opened #45 "Division with integer literals gives wrong result"
The following c snippet gives different results on selfie compared to gcc/clang
`
uint64_t a;
a = (-1) / 2;
`

With selfie we get for a: `9223372036854775807`
With gcc we get for a: `0`

This is due to the lack of integer division in Selfie.

[2017-10-30 23:43] ChristianMoesl commented on #45
Should we forbid this specific case?

[2017-10-30 23:55] ChristianMoesl commented on #29
We will stay with the the combination of a Unix subsystem (msys2/cygwin) with gcc/clang as toolchain for windows users.

[2017-10-30 23:55] #29 closed

[2017-11-02 08:29] alexkollert commented on #45
In the branch elf I had to handle theses cases like you suggest, so that selfie can be executed on the qemu emulator. Negative Operands are first converted to positive before Division and converted back to negative after division. But this seemed to cause issues with clang vs. gcc. Still investigating that issue

[2017-11-02 18:08] ckirsch commented on #45
@christianmoesl I am not sure why this happens. We do use `/` for implementing the DIVU instruction and thus for implementing `/` in turn, right?

[2017-11-03 12:09] ChristianMoesl commented on #45
@ckirsch A integer literal in C `-1` or `1` has a signed integer type. Therefore signed division is used when calculating with literals, before they were casted to a `uint64_t` type (because of the assignment).
In Selfie every integer literal gets immediately "converted" into a a `uint64_t` type and afterwards calculated.

[2017-11-03 16:45] ckirsch commented on #45
Interesting! Please create a file`semantics.md` on root level for gathering all cases of C* semantics that are different from C semantics. This one should be the first but there is probably more.

[2018-01-08 18:55] PhilippMayer92 opened #48 "Bug in load_integer()!?"
I'm afraid that maybe load_integer() does not work in the way it should for integers a bit less than 2^31.
For example that code
[code]
prints this result
[code]
Especially the binary output make me think, that the problem is not in printInteger(), but in load_integer().

[2018-01-09 20:57] #30 closed

[2018-01-09 21:05] #48 closed

[2018-01-19 15:31] aabyaneh opened #57 "disassembling issue"
@ChristianMoesl By execution of these two consecutive command lines
`./selfie -c selfie.c -o selfie.m`
`./selfie -l selfie.m -s selfie.s`
`selfie.s` will contain "./selfie: unknown instruction with 101101 opcode detected" at the last line.

The reason should be because of this line `codeLength = *(ELF_header + 12);` in `selfie_load()` which stores the size of the binary (including data segment) in

[2018-01-20 08:03] ckirsch commented on #57
@ChristianMoesl @alexkollert Please look into this. We need a robust way of dealing with the non-zero offset of code in memory etc. Thanks!

[2018-01-20 08:51] alexkollert commented on #57
in the moment the ELF Header does not distinguish between code and data. This could be resolved either by adding a second program header or by a bunch of section headers.

[2018-01-28 12:36] ChristianMoesl commented on #57
This issue should be resolved with #59 . I added the code length as separate parameter into the binary file, so that i don't have to use the binary length as code length.

[2018-04-21 13:29] #57 closed

[2018-04-24 11:49] #45 closed

[2019-04-01 15:12] ChristianMoesl opened #103 "Quiet mode"
Implement a "quiet mode" of the grader, where only the actual grade gets printed on the console. This mode should be activated with a command line option.

[2019-04-02 12:17] ChristianMoesl opened #104 "Add a new test for Bitwise AND/OR/NOT"
Bitwise AND/OR operators should be added to the C* language and emulator support for the corresponding RISC-V instruction should be provided.

This test should verify:
- the parser correctly decides, if a  is in C* or not.
- the precedence of the operator is implemented like in C
- the generated instructions have the correct RISC-V encoding
- the semantics of the instruction is correctly implement

[2019-04-02 12:30] ChristianMoesl opened #105 "Basic Tests"
Add a set of basic tests, which should run on every invocation and have to succeed, to get a grade < 5.

This tests should basically check:
- if selfie is compilable with gcc (check for `exit-status == 0`)
- if selfie compiles itself without warnings

[2019-04-02 12:37] ChristianMoesl opened #106 "No timeout for selfie execution"
The grader script executes selfie in a separate process and waits until it exits, to check the result. If the executed version of selfie is executing forever, the grader script also never stops.

A timeout for this execution should be added, to fix this issue.

[2019-04-02 13:29] ckirsch commented on #104
Let's include bitwise NOT (`~`) as well. Its precedence is interesting.

[2019-04-02 13:36] ChristianMoesl opened #107 "Add precedence test in 'bitwise-shift-2'"
The grader should verify, that new implemented operators follow the precedence order of C

[2019-04-02 13:41] ckirsch commented on #104
`~` should be mapped to `XORI` RISC-V.

[2019-04-02 13:46] ChristianMoesl commented on #104
Ok, I am on it. 👍

[2019-04-02 13:48] ChristianMoesl opened #108 "Integrate Unit tests in Travis CI build"
The unit tests for the grader should be executed after every build, to ensure, that a code change does not break the grader.

[2019-04-02 13:51] ckirsch commented on #104
Thanks! This is a cool assignment. It challenges the students to take what they learned for bitwise shifting one step further.

[2019-04-02 13:53] ChristianMoesl opened #109 "Create Unit tests"
Unit tests should be created, to ensure proper code quality of the grader.
Created for assignments:

General Assignments:
- [X] self-compile
- [ ] print-name

Compiler Assignments:
- [X] hex-literal
- [X] bitwise-shift-compilation
- [X] bitwise-shift-execution
- [X] bitwise-and-or-not
- [X] for-loop
- [X] array
- [X] array-multidimensional
- [X] struct-declaration
- [X] struct-execution

OS Assign

[2019-04-03 05:37] ckirsch commented on #103
@ChristianMoesl Can you give this priority? I could use the feature for grading this week's assignment already. Thanks!

[2019-04-03 07:18] ChristianMoesl commented on #103
@ckirsch it's actually already finished on the grader branch. I marked the commit with (closes #103), s.t. this issue is closed automatically, as soon as the grader branch is merged into the master branch.

[2019-04-03 08:31] #103 closed

[2019-04-04 07:56] ckirsch opened #110 "Quiet mode in bulk grader"
@ChristianMoesl Could you please look at `grade-from-links.py` and add quiet mode here as well? This may be easier though than in the grader since only `git` and `make` need to be quiet. In the end, I need the script to output lines of the form: user/repo: 1-5

[2019-04-04 19:18] ChristianMoesl commented on #110
Done! Actually I removed the "make" call at all, because the grading script takes this task.

[2019-04-04 19:19] ChristianMoesl opened #111 "Fix code style differences python scripts"

[2019-04-05 09:53] ckirsch opened #113 "x86 binary translator does not build on docker"
@alexkollert The translator seems to be unable to generate actual files, see:

https://travis-ci.org/cksystemsteaching/selfie/jobs/516088760

Can you please fix that?

[2019-04-06 13:39] ChristianMoesl opened #114 "Create Readme file"
A Readme file (in `grader/`) should be written to document the self-grader.

[2019-04-07 15:33] ChristianMoesl commented on #105
@ckirsch I am not sure, if my requirements written above, matches that, what you want from me. The way i understood you, you wanted me to check for warnings, when `selfie.c` get's compiled with `gcc` or `clang`. But I think, this might not be a good idea, since we enable with `-Wall -Wextra` a wide range of warnings, which are highly dependent on the compiler and the compiler version.

Currently i

[2019-04-08 08:07] ckirsch commented on #105
I am not sure I understand what exactly you test for now. Can you explain?

[2019-04-08 08:15] ChristianMoesl commented on #105
I test two things:

1. If `make clean && make selfie` results in `exit_code == 0`
2. If `./selfie -c selfie.c` results in `exit_code == 0` and there is no `warning`or `syntax error` printed

[2019-04-08 14:33] #104 closed

[2019-04-08 14:33] #105 closed

[2019-04-08 14:33] #108 closed

[2019-04-08 14:33] #110 closed

[2019-04-08 14:33] #111 closed

[2019-04-08 17:31] alexkollert commented on #113
there was a typo in the makefile target. It is now successfully running on travis

[2019-04-09 11:45] ckirsch commented on #113
Thanks!

[2019-04-09 11:45] #113 closed

[2019-04-09 15:09] ChristianMoesl opened #117 "Grade calculation is wrong with Python V2"
The console log below shows a faulty grade for 6 out of 8 tests passed.

[code]

[2019-04-09 20:31] #117 closed

[2019-04-10 07:19] ChristianMoesl opened #118 "Verify disassembler file"
For every assignment, where the students have to implement a new RISC-V instruction into the compiler/emulator, there should be a test to verify, that the disassembler prints this instruction in the right format.

[2019-04-12 21:20] ChristianMoesl opened #120 "Split array assignment"
The current `array` assignment should be splitted into 2 assignments:

`array-1`:
- 1 dimensional arrays and selectors
- global and local declarations
- call by reference
- array symbol without selector gives the start address of the array

`array-2`
- n-dimensional arrays and selectors

[2019-04-15 12:15] #107 closed

[2019-04-15 12:15] #106 closed

[2019-04-15 12:15] #118 closed

[2019-04-15 12:15] #120 closed

[2019-04-15 13:18] ChristianMoesl opened #121 "Merge grader and the tools scripts"
The grader script (`self.py`) and the tools scripts `grader/tools/*.py` should be merged together.

[2019-04-15 13:24] ChristianMoesl opened #122 "Grader can give two different grades for the same test files"
The grading script can give two different grades for the same set of test files (`selfie.c`). Could be, that some temporary files are not cleaned up correctly, like they should be.

[2019-04-19 09:29] #121 closed

[2019-04-19 10:20] ChristianMoesl opened #124 "Grader crashes when selfie is a directory"
The grader crashes, when grading a repository with a folder `selfie` located at the root of the repository.
[code]

[2019-04-19 10:21] ChristianMoesl commented on #122
Seems to be resolved with edd1ee3d428b68d258e478ea3ee57c0af6aac67c

[2019-04-19 10:21] #122 closed

[2019-05-06 13:29] ChristianMoesl opened #128 "Grader does not respect whitespaces in paths"
The grading script splits commands, which have to be executed, by whitespaces. This leads to wrong commands, when a file path includes a whitespace.

[2019-05-06 13:30] ChristianMoesl opened #129 "Execution timeout to strict"
The execution timeout for Mipster in the grading script is to low (10s), such that it can easily trigger.

[2019-05-07 15:38] #124 closed

[2019-05-07 15:38] #128 closed

[2019-05-07 15:38] #129 closed

[2019-05-09 18:00] ChristianMoesl opened #131 "Grader tests for values equal to Selfie error codes"
The grading script compiles and then executes sample code and tests for the exit code value. This leads to a problem, when the value, which the grader expects, is equal to one of the Selfie errors codes (1-13). In this case, someone can not decide, if selfie aborted with an error or the mipster execution exited with this return value.

[2019-05-14 13:53] ChristianMoesl opened #132 "Positive grades without passing essential tests"
Some assignments can be easily passed (grade <= 4) without actually passing some essential tests. To overcome this issue, some tests should be marked as mandatory, which means, that the assignment can not be passed, without passing all mandatory tests.

[2019-05-18 18:35] ChristianMoesl opened #133 "Hypster crashes with many local variables"
The following code crashes when executed with Hypster with a error message "selfie.c: palloc out of physical memory".

`./selfie -c selfie.c -m 128 -c code.c -y 64`

code.c:
[code]

[2019-05-25 13:43] #131 closed

[2019-05-25 13:43] #132 closed

[2019-06-14 11:16] andreasbaumann opened #136 "Support for RISCV-32"
Hi,

Actually I hacked a fast working version for RISCV-32G, see:

https://github.com/andreasbaumann/selfie/tree/risc32

Basically I replaced uint64_t with uint32_t, adapted some opcodes (like LW, SW instead of LD and SD).

Building is done with:

gcc -O0 -m32 -g -Duint32_t='unsigned int' selfie.c -o selfie

It seems to work on Qemu:

./selfie -c selfie.c -o selfie.m
qemu-riscv32 selfie.m

Also th

[2019-07-22 13:27] ckirsch commented on #136
This is nice. Thanks a lot! Feel free to open a PR. I will then review that and see what we can do to get this into the repo.

[2019-10-22 08:19] #133 closed

[2019-10-30 14:34] ChristianMoesl opened #140 "Clone repositories with ssh authentication"
The bulk grader should authenticate via ssh and a public/private key when cloning the student repositories

[2019-10-30 14:35] ChristianMoesl opened #141 "Improve grader help message"
With -h or no options at all, the grader should also output what it is and refer to the selfie project.

[2019-10-31 12:00] #140 closed

[2019-10-31 13:22] ChristianMoesl opened #142 "Fix main signature in hello-world.c"
Use `int` and `char`types in `main()` function signature

[2019-11-01 16:23] ckirsch opened #143 "Optional Assignment Parameter"
The assignment parameter of the grader should be optional. If not provided the grader should just clone/update repos.

[2019-11-01 16:25] ckirsch opened #144 "Ctrl-C"
Pressing Ctrl-C just once should terminate grader.

[2019-11-01 16:26] ckirsch opened #145 "Option -q"
Option -q of the grader seems to be redundant. Full output seems to be unavailable.

[2019-11-04 23:29] ChristianMoesl commented on #144
I will look into that at the weekend

[2019-11-04 23:43] ChristianMoesl opened #146 "Use argparse library for argument parsing"
The standard python library `argparse` should be used to parse command line arguments.

[2019-11-05 06:32] #142 closed

[2019-11-05 06:32] #145 closed

[2019-11-07 15:25] ChristianMoesl opened #147 "Split fork-wait into two assignments"
Split the fork-wait assignment into two: fork-wait and fork-wait-exit. The latter should be like the existing fork-wait. The new fork-wait should be just like before except for the status parameter for wait since doing that requires knowledge of virtual memory.

[2019-11-10 10:20] #147 closed

[2020-01-16 10:57] andreasbaumann commented on #136
Just wanted to keep you up to date, there is now a combined branch supporting 64-bit and 32-bit
in parallel, see https://github.com/andreasbaumann/selfie/tree/risccombi.

In short:

[code]

So, the basic ideas and thoughts are:

- I'm assuming that the address space is addressed with the dominant integer of the processor,
  32-bit on RISCV32, 64-bit on RISCV64.
- Provide platform constants when co

[2020-02-18 13:26] ckirsch opened #154 "Second and third argument of `-se` option should be optional"
@ChrisEdel The `-se` option requires at least two arguments. This is inconsistent with the usage pattern printed by selfie and the readme explaining the option. I suggest to make the second argument optional similar to the third argument (`--merge-enabled`) and still ignore the second and third argument in the usage pattern and readme. Can you please fix that through a PR?

[2020-02-18 19:08] ChrisEdel commented on #154
Sure, I will take care of that.

[2020-02-24 12:32] ChrisEdel commented on #154
I have created the PR. However, the travis check failed due to some docker issue with the grader (`The command "docker run cksystemsteaching/selfie make grader" exited with 2.`).

[2020-02-25 08:43] #154 closed

[2020-02-27 00:47] mlite opened #157 "out-of-bounds read"
=========== Start of #0 stensal runtime message ===========

  Runtime error: **[reading from the outside of a memory space]**
  Continuing execution can cause undefined behavior, abort!

[code]

============ End of #0 stensal runtime message ============

[2020-02-27 11:21] maroneze opened #158 "smalloc: possible array out-of-bound access when out of memory in init_library"
When running a code analysis with [Frama-C](https://github.com/Frama-C/Frama-C-snapshot) on selfie, I got the following alarms:

[code]

What they mean is that, in case the call to `smalloc` fails (due to lack of memory) *while initializing the library*, because we didn't have time to properly allocate and initialize the global pointer `power_of_two_table`, the error message from `smalloc` itself

[2020-02-28 07:42] ckirsch commented on #157
@mlite Could you please provide more details on how you invoked selfie and on what type of system? Thanks!

[2020-02-28 07:45] ckirsch commented on #158
@maroneze Thanks a lot for pointing this out. The issue indeed has educational value. @ChristianMoesl did smalloc and will look into a fix. @ChristianMoesl I think, it is best to exit if initialization does not go through.

[2020-02-28 07:47] ckirsch opened #159 "Better names for assignments"
@ChristianMoesl I recall that we talked about renaming some of the assignments. Could you please do that before classes start next week? Thanks!

[2020-02-28 08:24] maroneze commented on #158
For completeness, the same thing might happen with `character_buffer` (print <- print_format1 <- printf1 called if the first smalloc() fails); exiting early should avoid both issues.

[2020-03-01 18:16] mlite commented on #157
It's probably a false positive because I build it as 32 bit with our https://www.cee.studio

[2020-03-01 23:18] ChristianMoesl commented on #159
I am on it. I will push that today ~11am.

[2020-03-01 23:33] ChristianMoesl commented on #158
`write()` could also be used for this error message. However, `selfie_name` could not be printed in this case and the printed error message would have to be double-word aligned.

[2020-03-02 08:32] #157 closed

[2020-03-02 08:33] ckirsch commented on #158
@maroneze If you are interested in doing that please feel free to submit a PR. Keep in mind though that we need simple, educational code to be able to pull any PR. Many thanks!

[2020-03-04 12:36] #159 closed

[2020-03-09 08:06] maroneze commented on #158
I proposed a PR, but not sure it is good enough, so feel free to dismiss it if you wish.

On the same kind of warnings, I have a few other issues with my analysis, mostly due to mismatches between the strict C semantics and the hardware model; for instance, when comparing strings such as `"-c"` (during argument parsing), the code in `load_character`, namely `*((uint64_t*) s + a)`, implicitly assum

[2020-03-21 16:51] ckirsch opened #161 "Windows Build"
GitHub Workflow on `windows-latest` does not build. Anyone interested in fixing this?

[2020-03-22 09:25] ckirsch opened #162 "Autograder in the Cloud"
Anyone interested in enhancing the autograder to work with GitHub Workflows? Ideally, even submitting assignments should work through that mechanism.

[2020-03-24 14:26] ckirsch opened #163 "make spike fails on docker"
spike pk selfie.m -c selfie.c -o selfie5.m -s selfie5.s -m 1
Failed to run dtc: No such file or directory
Child dtb process failed
make: *** [Makefile:93: spike] Error 1

[2020-03-29 17:32] ckirsch opened #165 "Building and running docker image in GitHub Workflow for selfie"
See .travis.yml for how this is done on travis.

[2020-03-30 04:03] #163 closed

[2020-03-30 04:03] ckirsch commented on #163
Magically resolved itself.

[2020-04-02 17:50] #165 closed

[2020-04-09 17:42] ckirsch commented on #161
Done. Except for autograder due to lack of python 3 on windows VM.

[2020-04-09 17:42] #161 closed

[2020-06-17 06:21] #158 closed

[2020-06-25 08:40] ckirsch opened #180 "Opening files on macOS is broken"
@thomaswulz We need to revisit this issue. Opening files on macOS does not work properly anymore. If a file already exists, selfie now appends data to the file rather than overwriting it. Could you please look into this?

[2020-06-28 19:29] thomaswulz commented on #180
After doing some testing on a macOS VM, it seems like existing files are actually overwritten from the start, but without getting truncated first. I tried various flag combinations, but unfortunately I was unable to find a sequence of `open` calls that works properly on all OSs.

[2020-06-28 20:59] ckirsch commented on #180
@thomaswulz Any other ideas? What exactly is the problem with the original solution?

[2020-06-28 22:08] thomaswulz commented on #180
The original code before my PR didn't work properly on Windows as existing files would not be opened in binary mode, so every `\n` would get turned into `\r\n` instead.
Since the flags of the `open` syscall differ so much between platforms, I think it should be possible for selfie to determine the platform it's running on by calling `open` with specific flag values and checking the result. Then, t

[2020-06-29 08:05] ckirsch commented on #180
@thomaswulz Yeah, I think we need to do something like that. I'd prefer a solution without `#ifdef`. Since opening files on macOS seems to work for all kinds of flags, the solution may be to use read and write calls. For example, we may open a dummy binary file called, say, `OS` using the flags for macOS, then write to it, and finally read from it to see if the content differs. Then we know if it

[2020-06-30 06:19] ckirsch commented on #180
Fixed: https://github.com/cksystemsteaching/selfie/commit/6eaeea6d6a7aebd3f2752033d04ea6ff312332a2

[2020-06-30 06:19] #180 closed

[2020-07-08 12:58] ChristianMoesl opened #182 "Validator eats btor2 files"
Is that intended behavior?

<img width="625" alt="image" src="https://user-images.githubusercontent.com/17096190/86921063-d6844000-c12a-11ea-8f53-a75e0e2b7c92.png">

[2020-07-08 13:38] Gotsiller commented on #182
This is not intended, but neither is the way you use the tool.
Validator takes a C* file as input.
In your case, validator assumes that the btor2 file you give it, is the temporary file it usually produces from the C* file.
Since temp files are deleted in the cleanup step, also your btor2 file is deleted.

[2020-07-08 14:39] ckirsch commented on #182
@Gotsiller Does it make sense to run validator without the binary? Validation is then not possible, right?

[2020-07-08 15:00] Gotsiller commented on #182
@ckirsch This is right. Validator needs to run the C* file on Selfie to verify that the error predicted by btormc actually occurs.

[2020-07-08 15:01] ckirsch commented on #182
@ChristianMoesl Why do use the validator the way you do?

[2020-07-08 15:55] ChristianMoesl commented on #182
I looked it up in the Makefile and clearly misunderstood it. If you use the validator in the right way, everything is ok.

Still I think it could be programmed a little bit more robust. All calls to `system()` are not checked for a correct error code.
That leads to problems, when for an example `btormc` is not installed on the machine. The validator will tell you in that case, that no error state

[2020-08-26 09:57] Blazefrost opened #189 "Add a reference to assignment descriptions to the grader"
@aemonk summarized all assignment descriptions from the cc2020 slack channel into a Markdown file as a quick reference. In the grader, we could add references back to the descriptions of each assignment so that the aim of each assignment is easier to understand.

Reference: https://cksystemsteaching.slack.com/archives/CUQUKPD61/p1598390644002700

[2020-08-26 10:27] Blazefrost commented on #189
One question that we may need to discuss is how the link to the document should be made. The way I see it, there are two possible ways:

- **Head of `master`**: The description link points to the newest commit pushed to a specific branch. If we change the description of an assignment, we don't necessarily have to update the link in the grader to point to the newest version.
  (e.g. https://github.

[2020-08-26 11:23] ckirsch commented on #189
I recommend to do head of master but not number the assignments. Just use names. Is that possible?

[2020-08-26 12:24] Blazefrost commented on #189
GitHub automatically creates IDs corresponding to the heading. We could try to explicitly add another ID, as suggested by [this StackOverflow answer](https://stackoverflow.com/a/7335839). If this did not work, we would need to edit the heading itself.

[2020-08-27 08:18] ckirsch commented on #189
Ok!

[2020-08-27 08:22] ckirsch opened #191 "README on machine"
Please add a README to the machine folder and add an item to the Extras section in the root README briefly mentioning bare metal support. Put it first before the other items.

[2020-08-27 14:53] aemonk opened #193 "Add descriptions for missing assignments in systems assignments."
We are still missing descriptions for three exercises in the systems-assignments.md file:

- treiber-stack
- assembler-parser
- self-assembler

We could also check if the descriptions of the other assignments in the file are sufficient and detailed enough.

[2020-08-28 08:16] #193 closed

[2020-09-05 06:09] ckirsch opened #196 "Update and polish gc test"

[2020-09-13 07:07] #196 closed

[2020-09-13 07:11] ckirsch opened #197 "Autograde GC assignment"
@Blazefrost @aemonk Please design an assignment for the gc in selfie. Ideally, I'd like students to bring down its complexity from O(n^2) to O(n) where n is the heap size. This requires students to find a way to determine whether a value is a gced pointer in O(1) rather than O(n). However, checking an algorithms complexity is not easy. Yet mipster knows the number of executed instructions...

[2020-09-16 23:12] Blazefrost commented on #144
I could not reproduce this issue for any of the assignments on the current repository. It _should_ already be handled by commit 9ef29054, but it seems to be older than the issue.

Does this bug affect the bulk grader, by chance? I couldn't test it yet.

[2020-09-17 07:31] ckirsch commented on #144
@ChristianMoesl I don't remember, please see @Blazefrost comments.

[2020-09-17 07:35] #189 closed

[2020-09-17 08:14] ChristianMoesl commented on #144
@ckirsch I also think, that it already has been fixed. But also if there is a problem, it's probably in the bulk grader.

[2020-09-17 08:15] ckirsch commented on #144
Ok, I close this for now.

[2020-09-17 13:22] aemonk opened #199 "Description of Introductory Assignments"
I worked out some exercises for the introductory assignments, especially at [Architecture](https://github.com/cksystemsteaching/selfie/blob/grader/grader/introductory-assignments.md#2-architecture).

@Blazefrost and I talked about different exercise styles. Currently, I am writing on another version where I describe more than just the exercises. @ckirsch would that be better, or is it enough to li

[2020-09-18 08:00] ckirsch commented on #199
@aemonk Exercises that we can use in the upcoming class have highest priority. Think of producing material that I can use in class right away. When writing about numbers use correct prefixes: 0b1010 for binary, 0x1010 for hexadecimal, 0o1010 for octal. Remove the $ signs. They are confusing.

[2020-09-18 08:01] ckirsch commented on #199
Try to write up self-contained exercises where the provided information is sufficient and necessary, not more, not less.

[2020-09-18 08:03] ckirsch commented on #199
Think of a good sequence of introductory assignments at the beginning of the class. Remove all planned stuff from introductory-assignments.md Instead make that file self-contained so that I can point the students to it.

[2020-09-18 08:06] ckirsch commented on #199
Create a GitHub project in the selfie repo to keep track of what you plan to do. @ChristianMoesl can help you with that. All files in the selfie repo should be ready for use. I will keep merging your changes in the grader branch into the master branch for the students to look at.

[2020-09-18 13:09] aemonk commented on #199
Removed all planned stuff from the file and made a new first version of how it could work.
I referenced all the material to the selfie manuscript (book), everything is beautifully described there.

@ckirsch please let me know what you think about this style.

[2020-09-18 13:27] ckirsch commented on #199
Version 2 is better. But don't mix low- and high-level questions. Creating semantics is very high-level and difficult to answer.

[2020-09-18 13:28] ckirsch commented on #199
I recommend to focus on low-level questions for now.

[2020-09-21 19:09] aemonk opened #200 "Syllabus for iOS"
Write a syllabus for iOS and add any missing content.

[2020-09-22 07:38] aemonk commented on #200
In WS19 we had 11 events that took place, I have written down the contents here.
According to the calendar, there are 16 events planned for WS20, so we would run out of 5 more or should we split them up?

# Syllabus

- Introduction
	- Bit, nibble, byte
	- Binary, Decimal, unary, octal, hexadecimal
	- How many bits in 6 GB
	- Computation
	- Software
- Architecture 17.10
	- binary vs. decimal
	- Tim

[2020-09-22 07:38] aemonk commented on #200
I only want to deal with the contents that will be part of the lecture.
Please give me some feedback if this list fits or if we should add something to it? @ckirsch

[2020-09-22 09:29] ckirsch commented on #200
@aemonk looks good!

[2020-09-23 13:55] aemonk opened #201 "1) Introduction - Introductory Assignments"
- [x] bit
- [x] nibble
- [x] byte
- [x] binary numbers
- [x] decimal
- [x] unary
- [x] octal
- [x] hexadecimal
- [x] How many bits in 6 GB
- [x] Computation
- [x] Software

[2020-09-23 13:57] aemonk opened #202 "2) Architecture - Introductory Assignments"
- [x] binary vs. decimal
- [x] von Neumann Architecture
- [x] CPU
- [x] Main memory
- [x] Memory bus
- [x] Code vs. data

[2020-09-23 13:57] aemonk opened #203 "3) Architecture 2 - Introductory Assignments"
- [x] signed and unsigned integer (moved under 1-Introduction)
- [x] binary arithmetics
- [x] Arithmetic overflow
- [x] Unicode

[2020-09-23 13:58] aemonk opened #204 "4) Tools - Introductory Assignments"
- [ ] MHz, GHz
- [ ] single & dualcore
- [ ] RAM, storage, network, program, process
- [ ] Time, space, energy
- [ ] Throughput, Latency

[2020-09-23 13:59] aemonk opened #205 "5) RISC-U & ISA - Introductory Assignments"
- [X] Emulator
- [X] Compiler
- [X] ISA
- [x] RISC-U, RISC-V
- [ ] Program counter
- [ ] fetch, decode, execute
- [ ] Explain Load, store, add instructions
- [ ] Syntax, data flow (add instruction), control flow
- [ ] Meaning/Semantics
- [ ] unicast, multicast, broadcast
- [ ] open protocol, open source, open hardware

[2020-09-23 14:00] aemonk opened #206 "6) Programming Languages- Introductory Assignments"
- [ ] Imperative, functional, logical
- [ ] Difference between syntax and semantics
- [ ] Notation
- [ ] Multi- and singleline comments
- [ ] Variable decleration
- [ ] Function definition
- [ ] Variable definition
- [ ] Writing the "Hello World" function
- [ ] Compilation, interpretation

[2020-09-23 14:01] aemonk opened #207 "7) Semantics - Introductory Assignments"
- [ ] Global & local variables
- [ ] Procedures, assignment
- [ ] Binary & unary operator (pointer)
- [ ] Memory model
- [ ] EBNF grammar

[2020-09-23 14:02] aemonk opened #208 "8) FSM - Introductory Assignments"
- [ ] Introduction to FSM
- [ ] Regular Expressions, Scanner
- [ ] PDA, push, pop, stack

[2020-09-23 14:02] aemonk opened #209 "9) PDA - Introductory Assignments"
- [ ] Context-free grammar
- [ ] Parser, EBNF
- [ ] FSM, get_symbol()
- [ ] RISC-U, create meaning
- [ ] Compiler
- [ ] Interpreter
- [ ] Virtualization

[2020-09-23 14:03] aemonk opened #210 "10) Virtual Memory - Introductory Assignments"
- [ ] The whole state of the machine, spatial locality
- [ ] Storage & address space
- [ ] Page, page table (calculation)

[2020-09-23 14:04] aemonk opened #211 "11) Virtualization - Introductory Assignments"
- [ ] Fetch, decode, execute
- [ ] RISC-U instructions
- [ ] State space
- [ ] Virtualization
- [ ] Emulation
- [ ] Virtualization
- [ ] Context switching
- [ ] Scheduling
- [ ] Cooperative
- [ ] preamptive
- [ ] Hypervisor

[2020-09-23 14:17] #200 closed

[2020-09-23 14:17] #199 closed

[2020-09-23 14:20] aemonk commented on #201
I started writing descriptions, examples, and exercises.
It is intended as an example of self-contained content.
I hope this meets the expectations? @ckirsch

[2020-09-24 13:11] ckirsch commented on #201
Looks very nice! Don't forget to spell check.

First and foremost, as far as the computer is concerned, there is no way to move "past numbers" because, to the computer, everything is a number. A computer stores everything as a series of 0's and 1's. This representation is called a bit. A [bit](https://en.wikipedia.org/wiki/Bit) can only have one of two values, which are most commonly represented a

[2020-09-24 18:44] aemonk commented on #201
Thank you very much for the feedback, I will include it immediately. I will pay more attention to the spellchecker.

[2020-09-26 20:30] aemonk commented on #201
Should we make a separate file for each topic?
Or should everything be in one file?

[2020-09-26 20:31] aemonk commented on #201
Hey, @Blazefrost  could you take a look at the file to see if you see any room for improvement?

[2020-09-28 06:52] ckirsch commented on #201
everything in one file please. selfie style :)

[2020-09-28 07:32] aemonk commented on #201
@ckirsch I finished version 1 of Introductory Assignments.
It would only be important to check that everything is correct.
Maybe @Blazefrost can also take a look at it?

[2020-09-28 08:26] ckirsch commented on #201
Looks very nice. Let's talk later today during the group meeting.

[2020-09-30 14:52] Blazefrost commented on #201
I've read through the document and I think it looks very nice :+1:
I've got some very minor nitpicks, though:

- In the chapter "State Space" or "Byte", we could add the smallest/largest (positive) number that a byte can represent. This might even be a good exercise!
- In the subchapter "Decimal to Binary" we could clarify that we divide with the floored result of the previous division.
- You've m

[2020-10-01 06:44] ckirsch commented on #201
@Blazefrost Sounds all good. Please go ahead and add your suggestions to the grader branch. Ad ASCII: mention the notion of an ASCII table that maps characters to 7-bit binary numbers.

[2020-10-01 08:38] fischer-martin opened #216 "Compiler warnings with GCC 10.2.0"
Compiling the current version of selfie (commit dcde9b6) with GCC version 10.2.0 causes compiler warnings. This should be fixed in order to not cause problems with the autograder.

[code]

[2020-10-01 08:39] fischer-martin commented on #216
Interestingly, clang version 10.0.1 does not emit those warnings.

[2020-10-01 08:54] ckirsch commented on #216
@fischer-martin Can you do a PR that fixes this?

[2020-10-01 10:06] fischer-martin commented on #216
Yes, I will look into it.

[2020-10-01 14:57] Blazefrost commented on #197
There is a paper about deriving the asymptotic complexity of an algorithm by measuring the empirical computational complexity: http://sfg.users.sonic.net/berkeley/trendprof-fse-2007

Basically, Goldsmith et al suggest that, using different workloads, we could try to create a linear model using least-squares linear regression and rate its performance using a goodness-of-fit statistic.

[2020-10-01 14:59] Blazefrost commented on #197
I'll try to implement it myself and plot both master and my implementation using different allocation counts to see how much they differ.

[2020-10-01 20:41] aemonk commented on #202
**2) Architecture**
Content for Binary vs Decimal in the first version is done.

I will finish each content one by one and then upload it to make it easier to correct.
For future topics, I will surely come back to you more often @Blazefrost

[2020-10-01 20:46] aemonk commented on #201
@Blazefrost  I found an ASCII table written in Markdown, we could add it to the first topic. It takes up a lot of space since we have over 127 lines.

[2020-10-01 22:48] Blazefrost commented on #201
@ckirsch Done!

@aemonk Maybe we could add it as a separate markdown file and link to that, if the usage terms of the Markdown table allow for that. This way everything relevant is in the repo but the assignment markdown will still be lean.

[2020-10-02 07:03] aemonk commented on #201
@Blazefrost added the ASCII-table as a separate file and linked it into the introductory-assignments file.

[2020-10-02 11:10] #216 closed

[2020-10-02 11:12] ckirsch commented on #197
@Blazefrost Very nice! I am looking forward to that. We may be able to use that for other assignments too.

[2020-10-03 12:04] aemonk commented on #202
Version 1 of von Neumann Architecture finished.

[2020-10-04 19:15] Blazefrost commented on #197
There are two ways we could profile the instruction count:
- GC in syscall mode: The test is run on a GC-enabled mipster which itself runs on a mipster to profile the executed instructions
- GC in library mode: The test is compiled with selfie.h and the library GC is enabled at the begin of the test using `turn_on_gc_library`

I think it would be beneficial to perform the test in library mode beca

[2020-10-05 09:44] ckirsch commented on #197
@Blazefrost Measuring the GC as library is fine. However, try to design something that can determine the algorithmic complexity in a given parameter of any RISC-U binary, not just GC. Maybe a special mipster that runs a given binary n times and does so by feeding the parameter to the binary as console argument. It can then count the executed instructions and estimate complexity accordingly. Let's

[2020-10-06 19:48] aemonk commented on #202
I was able to finish most of the content for architecture-1.
The only thing missing is the memory-bus, which I still have one or two questions.
I wanted to ask you to read about what I have written so far. Thanks. @ckirsch @Blazefrost

[2020-10-07 18:08] ckirsch commented on #202
@aemonk Looks great! There are just a few typos.

[2020-10-08 18:27] aemonk commented on #202
Should I rewrite something?

[2020-10-09 17:52] ckirsch commented on #202
No, just fix the typos.

[2020-10-10 05:50] aemonk commented on #202
I did a spell check and hopefully fixed all typos.

[2020-10-10 21:02] aemonk commented on #203
Added the topic "signed and unsigned integers", could you please check if it meets your requirements? @ckirsch

[2020-10-11 18:53] Blazefrost commented on #143
It seems like the referenced commit 067cd20 already fixed that issue.

[2020-10-11 18:53] #143 closed

[2020-10-11 19:05] Blazefrost commented on #114
There is a README in the grader directory which evolved from the HOWTO guide and the assignment workflow guide. I think it does a good job on describing the grader's usage and assignment workflows.

We could add a reference to the assignment descriptions in the 'assignments/' directory, though.

[2020-10-12 05:37] ckirsch commented on #203
@aemonk Looks very nice. I only suggest to move the material on integers to the first section as part of encoding numbers.

[2020-10-12 05:38] ckirsch commented on #114
@Blazefrost Good idea! Please add that reference. Thanks!

[2020-10-12 19:17] Blazefrost commented on #141
With the adaption of the Python argparse library (issue #146) and the upcoming pull request I added a synopsis to the help output:
[code]

[2020-10-13 12:41] #141 closed

[2020-10-13 12:41] #146 closed

[2020-10-16 07:03] #114 closed

[2020-10-19 14:25] #201 closed

[2020-10-19 14:25] #202 closed

[2020-10-27 14:14] #203 closed

[2020-10-28 08:53] ckirsch opened #227 "Docker Build on Mac"
@Blazefrost @fischer-martin for some reason the docker build on my Mac fails, see below. Does this make sense to you? Can you fix it?

Step 48/49 : RUN make --directory machine/
 ---> Running in 3d8874164245
make: Entering directory '/opt/selfie/machine'
mkdir -p build/qemu/kernel
mkdir -p build/qemu/kernel/asm/
cc -I. tools/asm_struct_macro_generator.c -o tools/asm_struct_macro_generator
tools/as

[2020-11-02 16:23] #227 closed

[2020-11-02 16:24] #109 closed

[2020-11-02 16:25] ckirsch opened #228 "Clean up gcc/clang toolchain in Dockerselfie image to support 32-bit and 64-bit x86 and RISC-V"

[2020-11-02 16:26] ckirsch commented on #228
@Blazefrost Here's what I get after installing `libc6-dev-i386` in the Dockerselfie image:

cc -Wall -Wextra -O3 -m32 -D'uint64_t=unsigned long' selfie.c -o selfie
selfie.c:102:7: warning: mismatch in argument 1 type of built-in function 'malloc'; expected 'unsigned int' [-Wbuiltin-declaration-mismatch]
  102 | void* malloc(unsigned long);
      |       ^~~~~~
/usr/bin/ld: skipping incompatible /u

[2020-11-02 16:31] ckirsch commented on #228
We may need to think about a more systematic way of building our toolchain...the Dockerselfie file should contain comments as to why certain items are needed.

[2020-11-02 23:05] Blazefrost commented on #228
`libc6-dev-i386` did work with clang. For gcc, I successfully tested it with `gcc-multilib` and `libgcc-10-dev-i386-cross`, but it seems `gcc-multilib` causes the removal of `gcc-riscv64-linux-gnu` which is rather subobtimal

[2020-11-02 23:30] Blazefrost commented on #228
It seems like `lib32gcc-9-dev` and `libc6-dev-i386-amd64-cross` will suffice, too. These packages provide the 32 bit variants of libgcc, libc as well as the crt object files.

[2020-11-03 07:10] ckirsch commented on #228
That's great! I can now generate 32-bit binaries. But running these binaries in lldb does not work. We should discuss how to clean up our toolchain.

[2020-11-04 12:54] ckirsch commented on #228
@Blazefrost @fischer-martin @ChristianMoesl I cleaned up the Dockerselfie file a bit, and isolated the packages needed for the machine folder. Could you please clean those up (only have the tools in there that are really needed)?

[2020-11-04 12:55] ckirsch commented on #228
After that it may be easier to figure out how to include a 32-bit and 64-bit toolchain.

[2020-11-04 19:03] fischer-martin opened #229 "`self-assembler` assignment results in timeout"
It has been reported to me that the the [current test](https://github.com/cksystemsteaching/selfie/blob/master/grader/self.py#L212) for the `self-assembler` assignment causes a timeout (runtime of 3-5min vs. an allowed maximum of 60s). Since increasing the timeout isn't practical (especially since the bulk-grader doesn't run in parallel), I suggest that we change the test a little bit.

[2020-11-04 19:03] fischer-martin commented on #229
Thoughts about that, @ckirsch @Blazefrost ?

[2020-11-04 19:22] ckirsch commented on #229
How would you change the test?

[2020-11-05 10:05] fischer-martin commented on #229
Maybe compile selfie once from the C* source and assemble it from the output generated by `-s` and then compare the resulting binaries.

[2020-11-05 16:35] ckirsch commented on #229
I thought that is what self-assembler checks...what does it actually check?

[2020-11-05 17:47] fischer-martin commented on #229
See for yourself:

[code]

[2020-11-05 23:40] Blazefrost commented on #229
It seems like both assembling and disassembling takes significantly longer on mipster than just compilation.
Maybe we could:
1. Compile, disassemble, assemble, and store a selfie binary
2. Load the binary into a mipster instance and let it compile and store a selfie binary.
3. Compare the resulting binaries from step 1 and 2

If the assemble step is working correctly, the binary from step 1 should

[2020-11-06 08:42] ckirsch commented on #229
@Blazefrost Sounds good! Please do a PR.

[2020-11-07 06:40] #229 closed

[2020-11-07 06:41] #191 closed

[2020-11-07 23:06] Blazefrost commented on #228
@fischer-martin Do you think we could slim down the requirements for the machine build? Openocd may be optional as it is required for HiFive Unleashed debugging  _only_.

[2020-11-08 17:26] fischer-martin commented on #228
Yes, I think it'd be better to throw it out since it only has a very specific use-case for an already very specific part of selfie. Debugging the machine build by hooking into QEMU should suffice.

[2020-11-09 11:02] ckirsch commented on #228
Simplifying the dockerselfie image is always good. I worked on it quite a bit, see the #arch branch. Please focus on that version. By now, I can actually develop 32-bit selfie and make progress there. I already found some interesting overflow issues and was able to improve the code.

[2020-11-17 00:05] Blazefrost commented on #197
Now that conqueror is on hiatus in favor for the model checker project, how do we proceed with that issue? Should I implement the asymptotic complexity approximation into Selfie or add a Python tool?

[2020-11-19 15:42] ckirsch commented on #197
@Blazefrost Let's discuss this tomorrow. Please remind me.

[2020-11-20 18:34] Blazefrost commented on #144
@fischer-martin notified me that this issue is still present for the bulk grader. Currently, you have to press [Ctrl]+[C] as often as there are repositories left to process.

[2020-11-21 15:03] fischer-martin commented on #144
To be exact: I think the bug only happens if no assignment has been specified (i.e. running `./self.py -b commit-links.txt -d student-repos`).

[2020-11-25 07:53] #144 closed

[2020-12-04 11:04] ckirsch opened #239 "ELF file integrity"
@ChristianMoesl I could use your help in debugging the latest code in https://github.com/cksystemsteaching/selfie/tree/arch

Qemu doesn't like the ELF format with two program headers, or maybe I just made a mistake somewhere. Do you have a machine with ELF tools installed?

[2020-12-13 20:22] aemonk commented on #206
Suggestions for the content:

- Data types
- Explanation of "Hello World!"
- main()
- write
- strings
- arithmetic operations
- local, global variables
- functions

@Blazefrost What do you think about these? We should still put them in an order. Should we do tasks for each item like in "Rustlings"?

[2020-12-13 20:42] aemonk commented on #205
Can I use the following structure for the *Instructions*? @ckirsch

**Initialization**
- lui
- addi

**Memory**
- ld
- sd

**Arithmetic and Comparison**
- add
- sub
- mul
- divu
- remu

**Comparison**
- sltu

**Control-flow**
- beq
- jal
- jalr

**System**
- ecall

[2020-12-21 13:10] #136 closed

[2020-12-21 13:11] #239 closed

[2020-12-21 13:11] #228 closed

[2021-01-21 04:52] Blazefrost opened #246 "Grader: Replace `threads` task `shared-heap` with thread-safe task"
Like @ckirsch pointed out, task `shared-heap` of assignment `threads` performs a `malloc()` call after creating a thread:
https://github.com/cksystemsteaching/selfie/blob/9b97426301c22228a903057b670c9f70bb885c6c/grader/assignments/threads/shared-heap.c#L20

Unfortunately, `malloc()` is not thread-safe and will probably be impacted by a race condition, depending on `TIMESLICE`.

The task must eithe

[2021-01-21 05:10] Blazefrost commented on #246
After second thought, I think it should be fine. The main thread creates a second one, but immediately joins with it:
https://github.com/cksystemsteaching/selfie/blob/9b97426301c22228a903057b670c9f70bb885c6c/grader/assignments/threads/shared-heap.c#L17-L19

Only the second thread will call `malloc`, assign a value to the allocated memory, and exit:
https://github.com/cksystemsteaching/selfie/blob/

[2021-01-21 16:58] ckirsch commented on #246
@Blazefrost True. Stack separation should be covered. How about testing the shared data segment as well? If you like you could also implement Dekker's algorithm to see if that works (no atomics required).

[2021-01-22 01:52] Blazefrost commented on #246
There's already the [shared-data.c](https://github.com/cksystemsteaching/selfie/blob/9b97426301c22228a903057b670c9f70bb885c6c/grader/assignments/threads/shared-data.c) check for the shared data section.

I've now implemented a check that sums up all integers from 1 to 20 and used Dekker's algorithm for the critical section. This additional check is able to check shared data/heap sections (due to t

[2021-01-22 13:12] ckirsch commented on #246
@Blazefrost Awesome! Thanks a lot.

[2021-01-22 13:18] #246 closed

[2021-01-22 13:19] #205 closed

[2021-02-15 09:00] ckirsch commented on #197
@Blazefrost By now there is a Boehm GC implementation in the master branch. However, I think we should still explore grader support for measuring time/space complexity of algorithms. Would be really neat to have that. What do you think?

[2021-03-23 10:28] kim366 opened #265 "Suggestion: -Werror when self-grading"
When doing the Compiler/Systems assignments, a big focus is put on compiling without warnings. When running the autograder, though, the compilation is not checked for warnings and, as such, it is easy to accidentally submit code with compiler warnings.

My local safety check for this is adding `-Werror` to the `CFLAGS` in the Makefile. This causes self-grading to fail when a warning occurs. If thi

[2021-03-23 12:17] ckirsch commented on #265
@kim366 Thank you! @ChristianMoesl What do you think?

[2021-03-26 08:36] ChristianMoesl commented on #265
@ckirsch I do not know, if we want to include `-Werror` into the CFLAGS. We include 2 big sets of warnings with `-Wall` and `-Wextra`, which can change over time. With `-Werror` every gcc/clang update can potentially break the Selfie build.

Let's imagine, that a new clang version with an additional warning in `-Wall` get's released at the start of a compiler class and it actually breaks the build

[2021-03-26 08:39] ckirsch commented on #265
@ChristianMoesl How about we only include the option in the grader? Or does the grader already fail if there are warnings?

[2021-03-26 08:41] ChristianMoesl commented on #265
The grader uses the Makefile to build Selfie atm. . And it does not care about gcc/clang warnings. It respects selfie warnings though.

[2021-03-26 08:43] ckirsch commented on #265
So that would be a nice extension, no? I mean failing if gcc/clang warns. Difficult?

[2021-03-26 08:46] ChristianMoesl commented on #265
It's probably not that hard to implement. We can scan the output of the build, much like we do that for the build output of selfie. It really comes down to your preference, if you want that in the grader. Personally I am still undecided, if that is a good thing.

[2021-03-26 08:50] ckirsch commented on #265
We could leave the grade as is but report right after the grade that there were bootstrapping warnings that may lead to downgrading.

[2021-03-29 12:19] #265 closed

[2021-04-03 10:19] ckirsch opened #271 "`characters of assembly` count in disassembler output is incorrect in `printf` branch"

[2021-04-03 10:24] ckirsch commented on #271
@Son-Typ Could you please have a look and see if you can fix this? Thanks!

[2021-04-03 11:17] Son-Typ commented on #271
A small test case would be useful. Is the `number_of_written_characters` wrong? I tried compiling using `./selfie -c selfie.c -o selfie.m` and `./selfie -l selfie.m -m 42 -c selfie.c -o selfie2.m` and those are my results:

For `main`:

- bootlevel 0: 185520 bytes generated with 42906 instructions and 13896 bytes of data
- bootlevel 1: 282792 bytes generated with 42906 instructions and 13896 bytes

[2021-04-03 12:46] ckirsch commented on #271
@Son-Typ I can't reproduce the issue you are seeing for `main`. I am on commit 0de776c6.

What I actually meant is the character count, not the byte count. But we may have to check both.

Try: `./selfie -c selfie.c -S selfie.s`

Should show more than a million characters in the assembly file but does not on the printf branch. I am on commit 0cbbb300.

[2021-04-03 14:02] Son-Typ commented on #271
I was on the same commits while conducting both tests.
Regarding the problem: The reason is actually quite simple. At bootlevel 0 we use the bootstrapping compiler's `dprintf` to write into the file, while we use our own `dprintf` at the other bootlevels. Clang's/GCC's `dprintf` does not count the number of written characters in `number_of_written_characters` while the `printf` implementation in `

[2021-04-03 15:07] MartinGroesbacher commented on #271
We will work on it asap but since its family holidays it might take a little while. Will post here when we're done

[2021-04-03 17:02] ckirsch commented on #271
Sure, that's fine. Thanks a lot for looking into this. I hope there is a clean solution.

[2021-04-22 06:40] ckirsch commented on #271
@MartinGroesbacher I am actually not sure why you guys are concerned about thread safety. Are you worried about the concurrency assignments in the SE class?

[2021-04-22 19:22] MartinGroesbacher commented on #271
We just wanted to point this out in case you eventually may want to use printf in a future concurrent project that uses selfie as a library. If this is ever the case, then one would have to adapt the implementation.

[2021-04-23 05:57] ckirsch commented on #271
Got it! Thanks.

[2021-05-01 09:36] Sebastian-Landl opened #277 "Grader not terminating on plain selfie"
When executing the grader with `./grader/self.py bitwise-shift-execution` on plain selfie without any modifications the test `right-shift has right RISC-V encoding` does not terminate. Expected behaviour would be grade 5.

[2021-05-02 08:58] kim366 opened #278 "Order in list of assignments out of sync"
In https://github.com/cksystemsteaching/selfie/blob/main/assignments/compiler-assignments.md the assignment `for-loop` is the very last one. Yet in https://github.com/cksystemsteaching/selfie/blob/main/grader/self.py#L323 that assignment (when listing all assignments) is shown between `bitwise-and-or-not` and `array`.

Possibly in the past the assignment was reordered and the order in the other li

[2021-05-03 22:08] Blazefrost commented on #277
This seems like a problem in the instruction encoding check. As this is caused by the check and not by the process execution, the execution timeout does not apply.

In particular, execution of line 148 of `checks.py` takes an exorbitant amount of time:

https://github.com/cksystemsteaching/selfie/blob/e113d85a477779c9d545ff68b31fc1b3b72f8c66/grader/lib/checks.py#L145-L148

Interestingly, while deb

[2021-05-04 07:02] ckirsch commented on #277
@Blazefrost Interesting! Does gcc return a non-zero exit code if there were warnings but no errors? In that case we may want to mimic that behavior.

[2021-05-05 21:22] Blazefrost opened #280 "Inconsistent handling of unexpected symbol syntax errors"
This is an issue that appeared while debugging issue #277 . I copied the text out of the [related issue comment](https://github.com/cksystemsteaching/selfie/issues/277#issuecomment-831565963).

Selfie does not terminate with a non-zero return code to indicate compilation issues. Unexpected symbol handling seems somewhat inconsistent as sometimes Selfie does exit with a non-zero code immediately, a

[2021-05-05 21:22] Blazefrost commented on #277
I opened a new issue regarding the inconsistent handling of unexpected symbol syntax errors because the underlying problem on the grader is that the code length is parsed incorrectly. The exit code short-circuiting works fine on the grader side, but the exit code may need fixing on the compiler side: #280

[2021-05-05 21:46] Blazefrost commented on #280
If there are warnings but no errors, GCC returns a zero exit code. Using flag `-Werror`, GCC treats all warnings like errors and will return a non-zero exit code as well.

I prepared some examples that raise unexpected symbol messages which mostly still compile, but may have interesting effects. GCC rejects all of these examples and retursn exit code 1 because syntax errors are errors:

In this ex

[2021-05-06 08:37] ckirsch commented on #278
@kim366 feel free to do a PR that fixes the order in the grader. The for loop should be the last assignment.

[2021-05-06 08:43] ckirsch commented on #280
@Blazefrost Error handling in the selfie compiler is something that requires more attention. Very true. Do you have any recommendation on how to fix these issues with the least amount of work? I am swamped right now and won't have much time to do this.

[2021-05-07 07:18] ChristianMoesl commented on #277
Ah I know, where that bug was introduced. It was introduced, when we separated the code and data segment in the ELF output of Selfie. @Blazefrost are you working on a fix for that? Or should I take care of it?

[2021-05-07 09:18] #278 closed

[2021-05-08 12:41] #277 closed

[2021-05-20 18:30] Blazefrost commented on #280
As we discussed, it's probably best to continue compilation after encountering a syntax error and return the exit code afterwards so that we can enumerate all syntax errors.

Both the scanner as well as the parser may raise syntax errors. There are some non-recoverable errors that prompt the scanner to immediately exit with `EXITCODE_SCANNERERROR`. Maybe we should prefix these errors with `fatal`,

[2021-05-21 07:59] ckirsch commented on #280
@Blazefrost I suggest we leave the names of the errors as is, assuming those errors are all limitations of the current implementation and could be avoided with smarter code. Thus SCANNERERROR, PARSERERROR, and COMPILERERROR should only be used when exiting immediately. Then we introduce a new SYNTAXERROR as exitcode for syntax errors from which the compiler actually recovers. What do you think?

[2021-05-27 23:11] Blazefrost opened #286 "Compiler warnings with GCC 11.1.0"
When compiling Selfie on the `main` branch, GCC version 11.1.0, [which has been released on April 27th, 2021](https://gcc.gnu.org/pipermail/gcc/2021-April/235922.html), now emits four `-Warray-bounds` warnings.

[code]

This is problematic since the grader expects Selfie to compile without any warnings.

[2021-05-28 09:06] ckirsch commented on #286
@Blazefrost I am surprised it only warns there. Do you have any idea how to avoid that warning?

[2021-05-30 21:29] Blazefrost commented on #286
GCC seems to apply an optimization, as indicated by the [`.constprop` function suffix](https://stackoverflow.com/a/14796736). I don't know whether an older GCC version already performed this optimization, but I assume the GCC team either improved the optimizer or the analyzer, or both.

The function `string_copy` is called five times:
* https://github.com/cksystemsteaching/selfie/blob/cfb66194d2de

[2021-05-31 07:16] #280 closed

[2021-05-31 17:30] ckirsch commented on #286
@Blazefrost I just committed a fix: https://github.com/cksystemsteaching/selfie/compare/6c31681f7c05...fb7c25457840 Could you please check if that avoids the warnings?

[2021-06-02 09:27] #271 closed

[2021-06-04 08:46] Blazefrost commented on #286
Yes, commit `fb7c254` fixed the warnings for me. :+1:

[2021-06-04 08:46] #286 closed

[2021-06-12 14:59] ckirsch opened #287 "Residual files in selfie root directory in the selfie docker image after machine build"
@Blazefrost could you please help me in fixing the following issue:

The selfie root directory in the selfie docker image contains two residual files called `hello-world.m` and `selfie.m` which, I believe, are created during `RUN make --directory machine/`. I think it would be better if those two files are removed somehow or put in the `machine` folder.

What do you think?

[2021-06-17 23:24] Blazefrost commented on #287
I*ve created a pull request that puts the RISC-U binaries in machine`s `build` directory so that the repository root is not populated with machine artifacts. As `make --directory machine clean` removes the build directory, it will remove the binaries now as well .

[2021-06-18 07:33] #287 closed

[2021-06-28 16:01] ckirsch opened #290 "Multiplatform AMD64/ARM64 Support"
Building a multiplatform docker image for linux/amd64 and linux/arm64 using:

`docker build --platform linux/amd64,linux/arm64 .`

currently fails in the linux/arm64 portion for at least two reasons:

1. `lib32gcc-9-dev` seems to be unavailable
2. `openocd` fails to recognize the system
3. `spike` fails to build (which may be an issue we can't solve easily)

I am not sure how involved fixing all t

[2021-06-30 20:17] fischer-martin commented on #290
I think for OpenOCD it's probably the best choice to kick it out of the docker image since the GDB+QEMU combo works really well and since OpenOCD is only needed when one wants to debug the bare-metal setup on actual hardware.
Regarding Spike it would be interesting to see the reason why it fails to build. Could you paste the relevant output here?

[2021-06-30 20:22] ckirsch commented on #290
#44 123.3 g++: fatal error: Killed signal terminated program cc1plus
#44 123.3 compilation terminated.
#44 123.3 make: *** [Makefile:349: disasm.o] Error 1
#44 123.3 make: *** Waiting for unfinished jobs....
------
Dockerfile:68
--------------------
  67 |     # build spike ISA simulator
  68 | >>> RUN mkdir -p $RISCV \
  69 | >>>   && mkdir -p riscv-isa-sim/build \
  70 | >>>   && cd riscv-isa-si

[2021-10-07 19:34] mhatzl opened #295 ""palloc out of physical memory" problem with changed "make os""
The line `./selfie -l selfie.m -m 2 -l selfie.m -y 1 -l selfie.m -m 1` introduced with commit [d17ddca](https://github.com/cksystemsteaching/selfie/commit/d17ddca5dd3fd4caada89243410e02997656c4ee#diff-76ed074a9305c04054cdebb9e9aad2d818052b07091de1f20cad0bbac34ffb52) for "make os" is too restrictive with memory.

Adding ~1000 lines of code to the current base selfie implementation results in `pallo

[2021-10-09 09:10] ckirsch commented on #295
@mhatzl Ok, the issue is hypster then. What we actually need for proper diagnosis is hypster outputting an execution profile similar to mipster but with a focus on memory and ecalls performed on behalf of the virtualized process. That would have revealed the root cause. Would you be interested in implementing that in a PR?

[2021-10-26 12:02] mhatzl opened #303 "modeler returns "maximum code size exceeded" or "4712 expected between -4096 and 4095" if code size is increased"
Some changes introduced after commit [b4df450b02c1bef1cf03af46be8505aae2791dfc](https://github.com/cksystemsteaching/selfie/commit/b4df450b02c1bef1cf03af46be8505aae2791dfc) can not handle if selfie.c reaches a certain code size and increasing `MAX_CODE_SIZE` leads to "maximum data size exceeded" and after increasing `MAX_DATA_SIZE`, modeler returns with `4712 expected between -4096 and 4095` where

[2022-03-22 11:40] CAS-ual-TY commented on #162
#313 should be referenced imo

[2022-03-23 20:43] CAS-ual-TY opened #314 "32-bit + mipster + self-self-self [+ gc] is failing"
As discussed on monday, there seems to be an issue.However, I am able to reproduce it without any changes whatsoever to the code now.

Basically, just run one of the following:
`./selfie-32 -l selfie-32.m -m 4 -l selfie-32.m -gc -m 2 -c selfie.c`
`./selfie-32 -l selfie-32.m -m 4 -l selfie-32.m -m 2 -c selfie.c`

The same 2 lines with `-y` instead of `-m` seem to be working.

See CAS-ual-TY/selfie#

[2022-05-30 09:43] CAS-ual-TY commented on #314
Workaround by 9f7dd5b8e04a9465974a0c493d81f853ce7bf120